configuration {
    show-icons: false;
    font: "Mono 12";
    display-drun: "Wi-Fi";
}

* {
    background-color: transparent;
    text-color: #F5D9E2;
}

window {
    width: 620px;
    location: center;
    anchor: center;

    background-color: #16080E;
    border: 2px;
    border-color: #6E1F3A;
    border-radius: 20px;

    padding: 20px;
}

mainbox {
    spacing: 14px;
    children: [ inputbar, listview ];
}

inputbar {
    background-color: #241019;

    border: 1px;
    border-color: #4B1729;
    border-radius: 13px;

    padding: 12px 16px;
    spacing: 10px;

    children: [ prompt, entry ];
}

prompt {
    text-color: #D94F78;
}

entry {
    text-color: #F5D9E2;
    placeholder: "  Find a network...";
    placeholder-color: #8F596D;
}

listview {
    columns: 1;
    lines: 6;

    flow: vertical;
    fixed-columns: true;
    fixed-height: false;

    spacing: 7px;
    padding: 2px;

    background-color: transparent;
}

element {
    orientation: horizontal;

    background-color: #21101A;

    border: 1px;
    border-color: #3E1727;
    border-radius: 12px;

    padding: 13px 16px;

    spacing: 12px;

    horizontal-align: 0;
    vertical-align: 0.5;
}

element normal.normal {
    background-color: #21101A;
    text-color: #EBC5D1;
}

element alternate.normal {
    background-color: #1D0D16;
    text-color: #DDB9C6;
}

element selected.normal {
    background-color: #6F1F3C;
    border-color: #B8325D;
    text-color: #FFFFFF;
}

element-text {
    horizontal-align: 0;
    vertical-align: 0.5;

    text-color: inherit;
    background-color: transparent;

    padding: 0px;
}

message {
    padding: 12px;
}

textbox {
    text-color: #9E6377;
}
